html {
  background-color: #c9b5ab;
  font-family: "PT Serif", sans-serif;
  line-height: 1.5;
}

header {
  font-size: 1.125rem;
  font-family: "PT Sans", serif;
  font-weight: normal;
}

img {
  width: 100%;
  line-height: 1.5;
}

li a {
  font-weight: bold;
  color: #8f2440;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f1622;
}

a {
  text-decoration: none;
}

.heading {
  font-style: italic;
}

.guides {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main {
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  color: #222;
}

.quote {
  font-size: 1.5rem;
  font-style: italic;
}

h2 {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #3f1622;
}

.varieties {
  list-style-type: lower-greek;
}

figure {
  font-style: italic;
  text-align: center;
}

dd > strong {
  color: #222;
}

.tags {
  font-size: .8rem;
  list-style-type: circle;
}

footer {
  font-weight: normal;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}
